* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1300px;
    margin: auto;
}

.btn {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #4e8cb6;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.btn-primary {
    background-color: #7fb802;
    border-color: #7fb802;
}

header {
    background-color: #0D325A;
    height: 500px;
}

.header-top {
    height: 100px;
}

.header-bottom {
    background-image: url("https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/xoldman.png.pagespeed.ic.dfg9F8pm_f.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.logo-container {
    width: 15%;
    float: left;
}

#logo {
    padding-top: calc((100px - 38px) / 2);
}

.menu-container {
    width: 50%;
    float: left;
}

#main-menu {
    list-style-type: none;
}

#main-menu li {
    display: inline-block;
}

#main-menu li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 700;
}

#main-menu li a:hover {
    color: #f8b71c;
}

.cta-container {
    width: 35%;
    float: left;
    height: 100%;
    text-align: right;
}

.cta-container a {
    margin-left: 6px;
}

.cta-container a.link {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    line-height: 100px;
}

#jumbo-wrapper {
    height: 400px;
    position: relative;
}

#jumbo-content {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#jumbo-content h1 {
    color: white;
    font-size: 44px;
    font-weight: normal;
    margin-bottom: 40px;
}

#grey-block {
    height: 100px;
    background-color: #f9f9f9;
}

#grey-block h4 {

    font-size: 30px;
    font-weight: 300;
    text-align: center;
    padding-top:20px;
}

#grey-block p {
    font-size: 20px;
    font-weight: 300;
    color: #999;
    text-align: center;
    padding-bottom: 30px;
}

.info {
    height: 400px;

    text-align: center;
}
.info h3 {
    color: #7fb802;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #b2b2b2;
}
.info p {
    color: #b2b2b2;
    font-size: 15px;
}
.piano-formativo {

    width: 300px;

    float: left;
    margin-right: 50px;
    margin-top: 100px;
}
.tutor {

    width: 300px;

    float: left;
    margin-right: 50px;
    margin-top: 100px;
}
.monitoraggio {

    width: 300px;

    float: left;
    margin-top: 100px;
}

.white-block {
    height: 500px;
    background-color: pink;
    border-top: 1px solid #999;

}

.image {
    width: 300px;
    height: 300px;
    background-color: lightblue;
    float: left;
    margin-right: 100px;
}

.piano-personalizzato{
    width: 300px;
    float: left;

}
.piano-personalizzato h2 {

    color: #4a4a4a;
    margin-bottom: 30px;
margin-top: 30px;

}

.piano-personalizzato p {
    font-size: 18px;
    font-weight: 300;
    margin-top: 15px;
    line-height: 21px;
    color: #999;
    margin-bottom: 20px;

}
.piano-personalizzato a {
    color: #98c8f8;
    font-size: 15px;

}
