* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1300px;
    margin: auto;
}

.btn {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #4e8cb6;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.btn-primary {
    background-color: #7fb802;
    border-color: #7fb802;
}

header {
    background-color: #0D325A;
    height: 500px;
}

.header-top {
    height: 100px;
}

.header-bottom {
    background-image: url("https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/xoldman.png.pagespeed.ic.dfg9F8pm_f.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.logo-container {
    width: 15%;
    float: left;
}

#logo {
    padding-top: calc((100px - 38px) / 2);
}

.menu-container {
    width: 50%;
    float: left;
}

#main-menu {
    list-style-type: none;
}

#main-menu li {
    display: inline-block;
}

#main-menu li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 700;
}

#main-menu li a:hover {
    color: #f8b71c;
}

.cta-container {
    width: 35%;
    float: left;
    height: 100%;
    text-align: right;
}

.cta-container a {
    margin-left: 6px;
}

.cta-container a.link {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    line-height: 100px;
}

#jumbo-wrapper {
    height: 400px;
    position: relative;
}

#jumbo-content {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#jumbo-content h1 {
    color: white;
    font-size: 44px;
    font-weight: normal;
    margin-bottom: 40px;
}

#grey-block {
    background-color: rgb(249, 249, 249);
    height: 500px;
    text-align: center;
}

#header-top2 {
    background-color: lightgrey;
    height: 150px;
    text-align: center;

}
h4 {
    font-size: 17px;
    font-weight: 300;
    color: color:rgb(55, 58, 60);
    line-height: 100px;


}

p {
    color:rgb(153, 153, 153);
    font-size:12.5px;
    font-weight:300
}
.header-bottom2::after {
    content: '';
    clear: both;
    display: table;
}

.info-corsi {
    background-color: pink;
    float: left;
    width: 200px;
    height: 250px;
    margin-right: 20px;
    text-align: center;
}

h2 {
    color: #7fb802
}

.white-block {
    background-color: violet;
    height: 500px;
    border-top: 2px solid grey;
    margin: auto;

}

.image {
    background-image: url("");
    background-color: orange;
    width: 300px;
    height: 300px;
    float: left;
    margin: 50px;
}
.level {
    float: left;
    margin: 100px;

}

.level h2 {
    padding-bottom: 30px;
    color: #4a4a4a;
}
.level p {
    padding-bottom: 30px;
     color: #999;
    font-style: 30px;
}
#test {
      color: #98c8f8;
}
footer {
    background-color: #0f335a;
    height: 500px;
    color: #fff;

}
.faq {
    background-color: grey;
    height: 100px;
    float:left;
}

.faq h3 {
    font-size: 30px;
    color: white;
}
.faq p {
    font-weight: 300;
    font-size: 18px;
    opacity: .5;
}
.contact {
    list-style-type: none;
    color: white;

}
.fluentify {
    float: right;
}
.fluentify h4 {
    color: white;
    font-size: 30px;

}
.fluentify p {
    color: white;
}
